*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #020202;
}

h1{
    text-align: center;
    color: white;
}

/* The whole calculator including input field  */
.container{
    width: 35vw;
    margin: auto;
}

.input_container{
    width: 100%;
   
}


/* input field where we enter number for calculation */
#display{
    width:100%;
    margin: auto;
}

/* the container includes all buttons */
.calculator_container{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap:2px 2px;
}

/* Each button of the calculator */
.calculator_container button{
    font-size: 30px;
    padding: 20px;
    cursor: pointer;
    
}

/* when we click the button of the calculator */
.calculator_container button:active{
    background-color: #cccccc;
}


/* setting the font color of the following buttons */
#C,#AC,#percent,#multiply,#devide,#plus,#minus{
    color: #d13e04;
}

/* setting the background color and font color of equal button */
#equal{
    background-color: #d13e04;
    color: white;
    
}


 /* Setting the responsiveness of the app. */
@media(max-width:600px){
  
    .container{
        width: 35vw;
        margin: auto;
    }
   
    .calculator_container button{
        font-size: 15px;
        padding: 10px;
        cursor: pointer;
        
    }

 
} 